#cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:'Century Gothic';
	font-size:12px;
	font-weight:bold;
	color:#09a79d;
	}
#cssmenu ul{
	background:url(../images/menu-bg.gif) top left repeat-x;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
	#cssmenu li{
		float:left;
		padding:0px 10px 0px 10px;
		}
	#cssmenu li a{
		color:#09a79d;
		display:block;
		font-weight:bold;
		line-height:35px;
		padding:0px 15px;
		text-align:center;
		text-decoration:none;
		}
		#cssmenu li a:hover{
			color:#000000;
			text-decoration:none;
			}
	#cssmenu li ul{
		background:#e0e0e0;
		border-left:2px solid #0079b2;
		border-right:2px solid #0079b2;
		border-bottom:2px solid #0079b2;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	#cssmenu li:hover ul{
		display:block;
		}
	#cssmenu li li {
		display:block;
		float:none;
		padding:0px;
		width:225px;
		}
	#cssmenu li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		#cssmenu li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	#cssmenu p{
		clear:left;
		}	
	#cssmenu .active > a{
		background:url(../images/menu_active.png) top left repeat-x;
		color:#09a79d;
		}
	#cssmenu .active > a:hover {
		color:#09a79d;
		}
		